*{
    padding: 0;
    margin: 0;
    font-family: "Alegreya";
}

body {
    background-color: #a12a1a;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #2e51a2;
    display: flex;
}

.welcomeBackContainer {
    display: flex !important;
    align-items: center;
}

.loginSignUpContainer {
    display: flex !important;
}

.nav-container {
    margin: 50px
}

.profileNav {
    max-width: 500px;
}

.video-responsive {
    display: flex;
    justify-content: center;
}


.container {
    width: 100%;
    margin: 25px auto;
    display: flex;
}

.animeInfo {
    width: 320px;
    height: 100%;
}

.anime-row {
    display: flex;
    flex-direction: column;
}


.animeCard {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 240px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    text-align: center;
    overflow: hidden;
    margin: 20px 20px;
    padding: 0px 6px 10px;
    background-color: white;
    border-radius: 10px;
}

.animeCard:hover {
    transform: scale(1.25)
}

.animeCard h4 {
    padding: 5px;
    font-size: 15px;
    text-overflow: ellipsis;
}

.animeCard img {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.overall-container {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.information-container {
    width: 80%;
    margin: 25px;
}

.information-container h3 {
    display: inline-block;
}

.sidebar-container {
    width: 20%;
    margin-top: 15px;

}

.sidebar-container img {
    width: 100%;
    border: 2px solid black;
}

.sidebar-container h4 {
    font-size: 17px;
}

.sidebar-info {
    margin-top:15px ;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
}

.animeCardButtons{
    display: flex;

}

.animeCardButtons button {
    margin: 1px;
    padding: 0px 5px;
}
  
.watchLater-container {
    display: flex;
    flex-direction: column;
}
.watchLaterCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 275px;
    height: 275px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    text-align: center;
    margin: 20px 20px;
    padding: 0px 6px 10px;
    background-color: white;
    border-radius: 10px;
    white-space: initial;
}

.watchLaterCard:hover {
    transform: scale(1.15)
}

.watchLaterCard img {
    height: 150px;
    width: 200px;
    margin-top: 10px;
}

.watchLaterCard button {
    margin: 0px 5px;
    font-size: 12px;
    padding: 2px 5px;
    transition: .2s all ease-in-out;
    border-radius: 10px;
    background-color: #bd8857;
}

.watchLaterCard p {
    margin: 1px;
}

.showWatchLaterContainer {
    display: flex;
    
}

.favorites-container {
    display: flex;
    flex-direction: row;
}

.favoritesCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    height: 265px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    text-align: center;
    margin: 20px 20px;
    padding: 0px 6px 10px;
    background-color: white;
    border-radius: 10px;
    white-space: initial;
    
     
}

.synopsis-container {
    margin-top: 15px;
}

.favoritesCard:hover {
    transform: scale(1.15)
}

.favoritesCard p {
    margin: 2px;
    overflow: hidden;
}

.favoritesCard img {
    height: 150px;
    width: 200px;
    margin-top: 10px;
}

.favoritesCard button {
    width: 200px;
    margin: 0px 5px;
    font-size: 12px;
    padding: 2px 5px;
    transition: .2s all ease-in-out;
    border-radius: 10px;
    background-color: #bd8857;
}

.searchBoxContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    border: 2px solid black;
    padding: 5px;
    width: 50%;
    height: 50px;
    background-color: black;
    border-radius: 25px;

}

.searchBoxContainer input {
    border-radius: 25px;
}

.animeFound-buttons button {
    margin: 0px 5px;
    font-size: 12px;
    padding: 2px 5px;
    transition: .2s all ease-in-out;
    border-radius: 10px;
    background-color: #bd8857;
}




.logoutButton {
    display: flex;
    justify-content: right;
    border: 2px solid black;
}

.realSearchBoxContainer {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 75px;
    height: 150px;
    background-image: url(/src/images/anime-dark-backgroundf.jpg);
    background-position: center;

}

.navbar {
    position: sticky;
    padding: 0px;
    top: 0px;
    height: 80px;
    background-color: black;
    color: white; 
}

.navbar a {
    color: white;
    margin: 25px;
}

.navbar-brand {
    width: 125px;
    text-align: center;
}
.navbar-brand:hover {
    background-image: url(/src/images/comic-explosion2.png);
    background-size: 150px 85px;
    background-position: center;
    color: black;

}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 125px;
    text-align: center;
}

.nav-link:hover {
    background-image: url(/src/images/comic-explosion2.png);
    background-size: cover;
    background-position: center;
    color: black;
}

.searchCommand {
    border-color: black;
    color: white;
}

.searchCommand:hover {
    background-color: black;
    border-color: black;
}

.card-login {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 470px;
}

.login-form {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    min-height: 470px;
}

.sideLoginPic {
    background-image: url(/src/images/lantern-login-pic.jpg);
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0px 0px 10px;
}

.sideSignUpPic {
    background-image: url(/src/images/wonderous-boy.jpg);
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0px 0px 10px;
    background-position: center;
}

.welcome-text {
    max-width: 275px;
    margin-bottom: 20px;
}

.email-container {
    display: flex;
}

.email-container i {
    margin: 5px 5px 5px 4px;
}

.password-container {
    display: flex;
}

.password-container i {
    width: 16px;
    margin: 5px;
}

#loginEmail {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px;
}

#loginPass {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px;
    margin-bottom: 15px;
}

.login-button {
    display: flex;
    justify-content: center;
    margin: 15px 0px 35px;
}

.login-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 100px;
    height: 35px;
}

.middle-text {
    display: flex;
    justify-content: center;
}

.create-account {
    display: flex;
    justify-content: center;
}

.create-account button {
    display: flex;
    align-items: center;
    height: 35px;
    width: 125px;
    border-radius: 50px;
}
/* Ok maybe next time write this as one css style since I used it almost 6 times */

#username {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px;
}

#email {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px;
}

#password {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px;
}

#password2 {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0px;
}

.signup-button {
    display: flex;
    justify-content: center;
    margin: 15px; 
}

.signup-button button {
    display: flex;
    align-items: center;
    border-radius:  50px;
    margin: 15px 0px 25px;
    height: 35px;
}

.signup-container {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.left-bar hr {
    margin: 10px 0px;
}

.create-account2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.create-account2 button {
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 35px;
}

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.profile-headers {
    font-weight: bolder;
    margin-top: 36px;
    font-size: 25px;
    color: white;
}

.full-container {
    margin: 25px 75px;
}

.profile-name {
    margin-bottom: 35px;
    margin-top: 35px;
}

.profile-name h2 {
    font-weight: bolder;
    font-size: 50px;
    color: rgb(228, 227, 167);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.alert {
    position: sticky;
    top: 80px;
    margin-bottom: 0px;
}