*{
    padding: 0;
    margin: 0;
    /* font-family: "Light"; */
}

@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("NinjaNaruto-YOn4"),
      url("../fonts/NinjaNaruto-YOn4.ttf") format("truetype");
  }

body {
    background-color: #f7d9b3;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #2e51a2;
    display: flex;
}

.container {
    width: 100%;
    margin: 100px auto;
    display: flex;
}

.animeInfo {
    width: 320px;
    height: 100%;
}

.anime-row {
    display: flex;
    flex-direction: column;
}


.animeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 240px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    text-align: center;
    overflow: hidden;
    margin: 20px 20px;
    padding: 0px 6px 10px;
    background-color: white;
    border-radius: 10px;
    

}

.animeCard h4 {
    padding: 5px;
    font-size: 15px;
    text-overflow: ellipsis;
}

.animeCard img {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.overall-container {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.information-container {
    width: 80%;
    margin: 25px;
}

.information-container h3 {
    display: inline-block;
}

.sidebar-container {
    width: 20%;
    margin-top: 15px;
}

.sidebar-container img {
    width: 100%;
    border: 2px solid black;
}

.sidebar-container h4 {
    font-size: 17px;
}

.sidebar-info {
    margin-top:15px ;
    background-color: white;
    border: 2px solid black;
}

.animeCardButtons{
    display: flex;

}

.animeCardButtons button {
    margin: 1px;
    padding: 0px 5px;
}
  
.watchLater-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.watchLaterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
}

.watchLaterCard img {

    height: 150px;
    width: 100px;
}

.showWatchLaterContainer {
    display: flex;
}

.favorites-container {
    display: flex;
    flex-direction: row;
}

.favoritesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 300px;
    text-align: center;
    border: 2px solid black;  
}

.favoritesCard img {
    height: 150px;
    width: 100px;
}

.searchBoxContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    border: 2px solid black;
    padding: 5px;
    width: 50%;
    height: 50px;
    background-color: black;

}

.animeFound-buttons button {
    margin: 0px 5px;
    font-size: 12px;
    padding: 2px;
    transition: .2s all ease-in-out;
}




.logoutButton {
    display: flex;
    justify-content: right;
    border: 2px solid black;
}

.realSearchBoxContainer {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 50px;
    height: 150px;
    background-image: url(/src/images/anime-background.webp);
}

.navbar {
    position: sticky;
    padding: 0px;
    top: 0px;
    height: 80px;
    background-color: black;
    color: white; 
}

.navbar a {
    color: white;
}

.navbar a:hover {
    background-image: url(/src/images/Team_Kakashi.webp);
    background-size: 63px 40px;
    color: white;
}

.searchCommand {
    background-color: grey !important;
    border-color: black;
    color: darkblue;
}